<div class="flex-container">
  <mat-card>
    <h1>Login</h1>
    <form [formGroup]="usuario" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput formControlName="email" required>
        <mat-error *ngIf="usuario.get('email')?.hasError('required')">E-mail é obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input type="password"  matInput formControlName="senha" required>
        <mat-error *ngIf="usuario.get('senha')?.hasError('required')">Senha é obrigatório</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </form>
  </mat-card>
  <footer><img src="/front/public/PREFEITURA_2.png" alt="SPRegula"></footer>
</div>




