<div class="parent">
  <div class="container">
      <div class="login-box">
          <h2>Login</h2>
          <form action="" id="main-form" [formGroup]="usuario" (ngSubmit)="submit()">
              <div class="input-box">
                  <input type="email" matInput formControlName="email">
                  <label>Email</label>
              </div>
              <div class="input-box">
                  <input type="password" matInput formControlName="senha">
                  <label>Password</label>
              </div>

              <button type="button" class="btn" (click)="submit()" >Login</button>

          </form>
      </div>

  </div>
</div>



