.add {
  position: fixed;
  right: 68px;
  bottom: 10px;
}

.mat-mdc-table {
  white-space: nowrap;
}

.mdc-data-table__table {
  white-space: nowrap;
  table-layout: fixed;
  font-size: small;
  font-size: x-small;
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Alterado para caber na altura da tela */
  flex-direction: column;
  width: 100%;
  /* Alterado para caber na largura da tela */
  padding: 20px;
  box-sizing: border-box;
  background-color: #3c135e;
}

.mat-mdc-header-cell {
  font-weight: bold;
  font-size: small;
}

.mat-mdc-form-field {
  font-size: 20px;
  width: 100%;
}


.mat-column-nome {
  height: 20px;
  text-align: center;
}

.mat-column-email {
  height: 20px;
  text-align: center;
}

button[mat-mini-fab] {
  align-self: flex-start;
  margin-bottom: 20px;
  width: 80px;
  background-color: #eeff00;
  padding: 10px 20px;
  border: none;
  color: #111111;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
